<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title class="text-white">Hello, world!</title>

    <style type="text/css"><!--
    .jumbotron { 
      background:url(<%= asset_path '1.jpg' %>) center no-repeat; 
      background-size: cover;
    }
    </style>
 </head>

 <body>
  <!--=============================================
      　　　　　　　　Navbar
==============================================-->
 <section>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="#"><%= image_tag 'brand.png'%></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav bg-white">
          <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#service">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#company">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
 </section>
<!--=============================================
      　　　　　　　　Top
==============================================-->
  <section class="jumbotron text-center">
   <div class="container">
          <p></p>
          <p></p>
          <p></p>
          <h3 class="display-4 mb-3 text-muted"></h3>
          <p class="lead text-gray mt-4 mb-4 pt-6 pb-6">
          "Imagine the world, <br>
          We can enjoy work and not worry about money.. <br>
          and fully committed to work for,
          those who really need..." <br>
          </p>
          <p></p>
          <p></p>
          <p></p>
          <p class="lead text-gray mt-4 mb-4 pt-6 pb-6">
          At Bims, We're fully commited to make <br>
          Ecosystem for those who really need<br>
          <p></p>
          <p></p>
   </div>     
  </section>
<!--=============================================
      　　　　　　　　Mission
==============================================-->
  <section>
  <!-- ミッション -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <h3 class="display-5 mb-1 text-center">Mission</h3>
            <p class="text-gray text-center">ミッション</p>
            <hr>
            <p class="pt-2 text-center font-weight-bold">
            世界中のより多くの方々が、<br>
            お金の心配をすることなく、<br>
            安心して楽しんで働ける社会<br>
            そして社会貢献を目標にできるような<br>
            世の中にすることが<br>
            我々のミッションです。</p>
            <p class="container pb-4 text-justify">
            今まさに時代が変わろうとしています。ここ20年に起こったインターネットによる変化はただの序章に過ぎず、これからが経済を変えていく革新的な変化の時代だということを我々は確信しています。なぜなら今までは必要不可欠であった仲介役は人間という部分において人間に信用されなくなってきていて、より信頼できる新しい技術、新しいエコシステムによりリプレイスされつつあるからです。新しい働き方、お金のあり方、生き方等はこれまでに想像できないくらい選択肢が出てくるはずであり、これからより人々の幸せを追求できる世の中へ変えていけるはずです。我々は新しいサービスを創造することで、新しい時代の社会保障になりうるエコシステム作りに少しでも貢献していけるよう、皆さまと一緒に考え、皆さまと一緒に新しい日本の再生に少しでも貢献していきたいと願っております。
            </p>
          </div>
        </div>
      </div>
    </section> 
<!--=============================================
      　　　　　　　　Service
==============================================-->
  <section id="service">
  <!-- サービス -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <h3 class="display-5 mb-1 text-center">Service</h3>
            <p class="text-gray text-center">事業内容</p>
            <hr>
            <p class="display-5 text-center font-weight-bold">エンジニアファースト</p>
            <p class="text-center"><%= image_tag 'ef.png'%></p>
            <p class="container pb-4 text-center">今までにないエンジニアのためのサービスを<br>
            提供するため現在試作品を開発中です。<br>
            もしエンジニアの方でご興味のある方は<br>
            β版リリース後、テストユーザーとして<br>
            ご登録頂ければ幸いです。</p>
            <p class="container text-center">
            企業のご担当の方でエンジニア採用に積極的な方は、<br>
            是非テスト企業として、弊社の新しいサービスにご参加頂ければ幸いです。
            </p>
            <hr>
            <p class="display-5 text-center font-weight-bold">コードスクール</p>
            <p class="text-center"><%= image_tag 'codeschool.png'%></p>
            <p class="text-center">学歴や過去に囚われない技術力をつけて<br>新しい自分にチャレンジできる<br>
            コードスクールという教育手段</p>
            <p class="text-center">プログラミングを今までやったことがない方々でも、<br>新しくエンジニアの道を目指すことができる<br>
            初心者向けのプログラミングスクール</p>
            <p class="container text-justify">
            学歴にとらわれない専門職としてプログラマーやエンジニアは徐々に増えつつあります。某有名私大や公立大を卒業してないと就職するのは困難な時代や常識は変わりつつあります。動画教育サービスの発展により、大学に毎年何百万円をつぎ込まなくても一流の教育を受けることは可能になり、高卒、大卒の資格を取ることも可能になっています。私達のプログラミングスクールはエンジニアとしての独立を支援スクールであり、経済的に安定するための収入保証の一部として専門知識を身につけてもらえれば幸いです。
            </p>
          </div>
        </div>
      </div>
    </section> 
            <!--=============================================
            <hr class="mb-2">
            <p class="display-5 text-center font-weight-bold">マネーズ</p>
            <p class="text-center">金融ワカラナイ...でも、<br>お金に前向きな大人女子の動画教育サービス</p>
            <p class="text-center">金融、保険って難しいですよね、<br>でもお金のことをもっと知りたい<br>そんな方の動画教育サービスです</p>
            <p class="container text-justify">
            どこの金融機関にも属さず、金融商品・サービスの販売や紹介を目的としていない「中立」で「フラット」な教育を提供したい。お金に関する必要知識を勉強することはなかなか難しい現実があります。どこから始めたらいいのかわからない、誰に聞いたらいいのかわらかない、そして株、FX、保険、仮想通貨、社会保障、、たくさんあり過ぎて勉強が追いつかない。。そんな方々に貢献するために生まれたのがこちらの動画教育サービスです。
==============================================-->

<!--=============================================
      　　　　　　　　thumbnails/lorempixel

  <section>
    <div class="container">
        <a href="#">
          <%= image_tag 'company.jpg', :class => "rounded-circle" %>
        </a>
    </div>
  </section>
==============================================-->
<!--=============================================
      　　　　　　　　Company
==============================================-->
    <section id="company" class="container pt-4 mt-2">
      <div>
        <h3 class="display-5 mt-2 mb-1 text-center">Company</h3>
        <p class="text-gray text-center">会社概要</p>
        <hr>
      </div>
      <div>
        <div class="container text-center pb-4 mb-2">
          <%= image_tag 'company.jpg', :class => "img-responsive" %>
        </div>
        <p class="text-center">現在準備中です。</p>
        <p class="text-center">お問い合わせは以下からご連絡ください。</p>
        <!--=============================================
      　　　　　　　　Company

        <div class="row ml-2 mr-2">
          <dl class="row pb-4">
            <dt></dt>
            <dd></dd>
            <dt class="col-sm-3">Description lists</dt>
            <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

            <dt class="col-sm-3">Euismod</dt>
            <dd class="col-sm-9">
              <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
              <p>Donec id elit non mi porta gravida at eget metus.</p>
            </dd>

            <dt class="col-sm-3">Malesuada porta</dt>
            <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

            <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
            <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

            <dt class="col-sm-3">Nesting</dt>
            <dd class="col-sm-9">
              <dl class="row">
                <dt class="col-sm-4">Nested definition list</dt>
                <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
              </dl>
            </dd>
          </dl>
        </div>
      </div>
    </section>
    ==============================================-->
<!--=============================================
      　　　　　　　　Contact
==============================================-->
<section id="contact">
  <div id="contact" class="block container">
    <div>
        <h3 class="display-5 mt-2 mb-1 text-center">Contact</h3>
        <p class="text-gray text-center">お問い合わせ</p>
        <hr>
    </div>
    <p class="text-center contact-description">サービス・事業に関するお問い合わせなどお気軽にご連絡ください。</p>
    <form class="contact-form text-center">
      <fieldset>
        <div class="center">
          <div class="contact-form-input">
            <label>お名前 <!-- <span class="label label-danger">必須</span> --></label>
            <input type="text" id="name" class="contact-form-input" placeholder="">
          </div>
          
          <!-- 新規追加 -->
          <div class="contact-form-input">
            <label>会社名</label>
            <input type="text" id="company" class="contact-form-input" placeholder="">
          </div>

          <!-- 新規追加 -->
          <div class="contact-form-input">
            <label>会社URL</label>
            <input type="text" id="hp_url" class="contact-form-input" placeholder="">
          </div>

          <div class="contact-form-input">
            <label>メールアドレス</label>
            <input type="text" id="email" class="contact-form-input" placeholder="">
          </div>

          <!-- 新規追加 -->
          <div class="contact-form-input">
            <label>電話番号</label>
            <input type="text" id="phone_number" class="contact-form-input" placeholder="">
          </div>
          
          <div class="contact-form-input">
            <label>件名</label>
            <input type="text" id="title" class="contact-form-input" placeholder="">
          </div>
          
          <div class="contact-form-input">
            <label>お問合せ内容</label>
            <textarea id="message" name="message" class="contact-form-input" rows="10" placeholder=""></textarea>
          </div>
          
          <div class="form-btn tx-center">
            <button class="btn btn-light btn-white" type="button" id="reset">リセット</button>
            <button class="btn btn-primary" type="button" id="save">送信する</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>

    <section>
        <div class="text-center">
        <%= image_tag ''%>
    </div>
</section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

