<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title class="text-white">Hello, world!</title>

    <style type="text/css"><!--
    .jumbotron { 
      background:url(<%= asset_path 'bg.jpg' %>) center no-repeat; 
      background-size: cover;
    }
    </style>
 </head>

 <body>
  <!--=============================================
      　　　　　　　　Navbar
==============================================-->
 <section>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</section>
<!--=============================================
      　　　　　　　　Top
==============================================-->
  <section class="jumbotron text-center">
   <div class="container">
          <h3 class="display-4 mb-3 text-white">Baseline</h3>
          <p class="lead text-muted">Something short and <br>
          leading about the collection below—its contents, <br>
          the creator, etc. Make it short and sweet, <br>
          </p>
          <p class="lead text-muted">
          but not too short so folks <br>
          don't simply skip over it entirely.</p>
          <p></p>
          <p></p>
          <p></p>
   </div>     
  </section>
<!--=============================================
      　　　　　　　　Mission
==============================================-->
<!--=============================================
      　　　　　　　　Service
==============================================-->
  <section>
  <!-- マネースクール -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <h3 class="display-5 mb-1 text-center">Service</h3>
            <p class="text-gray text-center">事業内容</p>
            <hr>
            <p class="display-5 text-center font-weight-bold">マネースクール</p>
            <p class="text-center">金融ワカラナイ...でも、<br>お金に前向きな大人女子のコミュニティ</p>
            <p class="text-center">金融ワカラナイ...でも、<br>お金に前向きな大人女子の<br>コミュニティ</p>
            <p class="text-justify">
            どこの金融機関にも属さず、金融商品・サービスの販売や紹介を目的としていない「中立」で「フラット」な女性コミュニティです。昇進、独立、転職、結婚など一番「人生が変わる」、そして「迷う」転換期に必ず付いて回るのが「お金」のことです。お金と向き合うことでお金に囚われず、自由で等身大に生きることを目的として運営しています。金融街兜町を拠点に活動し、金融×女子の視点で、まちづくりやイベントプロデュース、コンサルティング、商品企画などを行っています。
            <hr class="mb-2">
            <p class="display-5 text-center font-weight-bold">マネースクール</p>
            <p class="text-center">金融ワカラナイ...でも、<br>お金に前向きな大人女子のコミュニティ</p>
            <p class="text-center">金融ワカラナイ...でも、<br>お金に前向きな大人女子の<br>コミュニティ</p>
            <p class="text-justify">
            どこの金融機関にも属さず、金融商品・サービスの販売や紹介を目的としていない「中立」で「フラット」な女性コミュニティです。昇進、独立、転職、結婚など一番「人生が変わる」、そして「迷う」転換期に必ず付いて回るのが「お金」のことです。お金と向き合うことでお金に囚われず、自由で等身大に生きることを目的として運営しています。金融街兜町を拠点に活動し、金融×女子の視点で、まちづくりやイベントプロデュース、コンサルティング、商品企画などを行っています。
          </div>
        </div>
      </div>
    </section> 
<!--=============================================
      　　　　　　　　Company
==============================================-->
    <section class="bg-light">
      <div>
        <h3 class="display-5 mb-1 text-center">Company</h3>
        <p class="text-gray text-center">会社概要</p>
        <hr>
      </div>
      <div class="container-fluid">
        <div class="row ml-2 mr-2">
          <dl class="row">
            <dt class="col-sm-3">Description lists</dt>
            <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

            <dt class="col-sm-3">Euismod</dt>
            <dd class="col-sm-9">
              <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
              <p>Donec id elit non mi porta gravida at eget metus.</p>
            </dd>

            <dt class="col-sm-3">Malesuada porta</dt>
            <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

            <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
            <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

            <dt class="col-sm-3">Nesting</dt>
            <dd class="col-sm-9">
              <dl class="row">
                <dt class="col-sm-4">Nested definition list</dt>
                <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
              </dl>
            </dd>
          </dl>
        </div>
      </div>
    </section>
    <section>
      <div class="embed-responsive embed-responsive-16by9 mr-2">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div>
    </section>

    <div class="container mt-4">
      <dir class="card-deck">
        <div class="card">
          <div class="card-img">
               <%= image_tag 'bg.jpg', :class => "card-img-top img-circle" %>
          </div>
          <div class="card-body">
           <h3>皇帝ペンギン</h3>
           <h4 class="card-subtitle mb-3 text-muted">Emperor Penguin</h4>
           <p class="card-text">
             工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン
           </p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
               <%= image_tag 'bg.jpg', :class => "card-img-top" %>
          </div>
          <div class="card-body">
           <h3>皇帝ペンギン</h3>
           <h4 class="card-subtitle mb-3 text-muted">Emperor Penguin</h4>
           <p class="card-text">
             工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン
           </p>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
               <%= image_tag 'bg.jpg', :class => "card-img-top" %>
          </div>
          <div class="card-body">
           <h3>皇帝ペンギン</h3>
           <h4 class="card-subtitle mb-3 text-muted">Emperor Penguin</h4>
           <p class="card-text">
             工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン工程ペンゲギン
           </p>
          </div>
        </div>
      </dir>
    </div>
    </section>
    <section>
    <div class="container-fluid mt-4">
      <div class="progress">
        <div class="progress-bar w-75"></div>
      </div>
      <hr>
      <div class="progress">
        <div class="progress-bar bg-warning" style="width: 77%"></div>
      </div>
      <hr>
      <div class="progress" style="height: 10px">
        <div class="progress-bar" style="width: 27%"></div>
      </div>
      <hr>
    </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-4 order-1 col-sm-6 col-mg-4 col-lg-3 col-xl-1 bg-info">カラム1</div>
        <div class="col-4 order-4 col-sm-6 col-mg-4 col-lg-3 col-xl-1 bg-success">カラム2</div>
        <div class="col-4 order-5 col-sm-6 col-mg-4 col-lg-3 col-xl-1 bg-info">カラム3</div>
        <div class="col-4 order-6 col-sm-6 col-mg-4 col-lg-3 col-xl-1 bg-success">カラム4</div>
        <div class="col-4 order-2 col-sm-6 col-mg-4 col-lg-3 col-xl-1 bg-info">カラム5</div>
        <div class="col-4 order-3 col-sm-6 col-mg-4 col-lg-3 col-xl-1 bg-success">カラム6</div>
      </div>
    </div>

    <h1>Hello, World!</h1>

    <p class="lead">いつもありがとうございます！こちらからお願い致します</p>
    <p>いつもありがとうございます！こちらからお願い致します</p>
    <p><mark>いつもありがとうございます！こちらからお願い致します</mark></p>

    <div class="container-fluid">
        <div>
             <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div align="center">
      <button type="button" class="btn btn-primary btn-lg">Subscribe Now</button>
    </div>
    <div>
      <button type="button" class="btn btn-primary">
        いいね
        <span class="badge badge-light ml-2">10</span>
       </button>
        <span class="badge badge-primary ml-2">Primary</span>
        <span class="badge badge-pill badge-primary ml-2">Primary</span>
    </div>
    <section>
        <div class="text-center">
        <%= image_tag 'slider.jpg'%>
    </div>
</section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

